.mask{
    width:100%;
    height:100vh;
    position: relative;
    background-image: linear-gradient(rgba(0,0,0,0.85), rgba(0,0,0,0.85)),url("https://media.istockphoto.com/id/1338489163/photo/crowdfunding-and-business-philanthropy.webp?b=1&s=170667a&w=0&k=20&c=skdmXXVnac-CeNz2d5wVNS4yFwMPPerP-Lqqq_sFidY=");
    background-size: cover;
    background-position: center;
    object-fit: cover;
  }
.abt a{
    text-decoration: none;
}
.into-img{
    background-color: rgba(19,19,19,0.75);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    z-index: -10;
}
.into-img:hover{
    transform: scale(1.1,1.1);
}
/* .hero{
    width: 100%;
    height: 100%;
} */
 .content{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left:50%;
    text-align: center;
}
.head_text{
    font-size: 50px;
}
p{
    font-size: 30px;
    font-weight: bolder;
    color: white;
    font-family: cambria;
}